# Ignore system files
.DS_Store
Thumbs.db
desktop.ini

# Ignore temporary files
*.tmp
*.log
*~

# Ignore editor files
.vscode/
.idea/
*.swp
*.swo

# Ignore Node modules if added later
node_modules/

# Keep these
!.gitignore

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
